<a href="https://colab.research.google.com/github/imammarzuki/Sistem-Rekomendasi/blob/main/WisataBatu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Impor Library yang Diperlukan

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.layers import Input, Embedding, Flatten, Concatenate, Dense
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dropout

Baca Data dari Google Drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Baca Dataset

In [5]:
data=pd.read_excel("drive/MyDrive/S3/Experimen/Dataset/Dataset.xlsx")
data

,jenis_kelamin,umur,pekerjaan,hobi,tujuan_berwisata,status_perkawinan,daerah_asal,teman_perjalanan,pendidikan_terakhir,repetition,...,Y5,Y6,Y7,Y8,Y9,Y10,Y11,Y12,Y13,Y14
0,Laki-Laki,12-25 tahun,Pelajar/Mahasiswa,Olahraga,Rekreasi/Liburan,Belum Menikah,Luar Kota Batu,Pasangan,SMA/SMK,Pernah,...,1,0,0,0,0,0,0,0,0,0
1,Perempuan,12-25 tahun,Wiraswasta,Traveling,Rekreasi/Liburan,Belum Menikah,Luar Kota Batu,Teman,SMA/SMK,Belum Pernah,...,1,0,0,1,0,0,0,0,0,0
2,Perempuan,12-25 tahun,Pelajar/Mahasiswa,Traveling,Rekreasi/Liburan,Belum Menikah,Luar Kota Batu,Keluarga,SMA/SMK,Pernah,...,1,1,0,1,0,0,0,1,0,0
3,Perempuan,12-25 tahun,Pelajar/Mahasiswa,Traveling,Rekreasi/Liburan,Belum Menikah,Luar Kota Batu,Teman,SMA/SMK,Belum Pernah,...,1,1,0,1,0,1,0,0,0,0
4,Laki-Laki,12-25 tahun,Pelajar/Mahasiswa,Olahraga,Rekreasi/Liburan,Belum Menikah,Luar Kota Batu,Teman,SMA/SMK,Pernah,...,0,1,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Perempuan,26-45 tahun,Lainnya,Traveling,Rekreasi/Liburan,Menikah,Kota Batu,Keluarga,S1/D1/D2/D3,Pernah,...,1,0,1,0,0,0,0,0,0,0
223,Laki-Laki,26-45 tahun,Lainnya,Berenang,Rekreasi/Liburan,Menikah,Kota Batu,Keluarga,SMA/SMK,Pernah,...,0,1,0,0,0,0,0,0,0,0
224,Laki-Laki,26-45 tahun,Wiraswasta,Traveling,Rekreasi/Liburan,Menikah,Kota Batu,Pasangan,S1/D1/D2/D3,Pernah,...,0,0,0,0,0,0,0,0,0,1
225,Laki-Laki,26-45 tahun,Wiraswasta,Traveling,Rekreasi/Liburan,Menikah,Kota Batu,Keluarga,S1/D1/D2/D3,Pernah,...,1,0,0,0,0,0,0,0,0,0
226,Perempuan,26-45 tahun,Lainnya,Olahraga,Rekreasi/Liburan,Menikah,Kota Batu,Keluarga,SD,Pernah,...,1,0,0,0,0,1,0,1,0,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jenis_kelamin        227 non-null    object
 1   umur                 227 non-null    object
 2   pekerjaan            227 non-null    object
 3   hobi                 227 non-null    object
 4   tujuan_berwisata     227 non-null    object
 5   status_perkawinan    227 non-null    object
 6   daerah_asal          227 non-null    object
 7   teman_perjalanan     227 non-null    object
 8   pendidikan_terakhir  227 non-null    object
 9   repetition           227 non-null    object
 10  Y1                   227 non-null    int64
 11  Y2                   227 non-null    int64
 12  Y3                   227 non-null    int64
 13  Y4                   227 non-null    int64
 14  Y5                   227 non-null    int64
 15  Y6                   227 non-null    int64
 16  Y7                   227 non-null    int64
 17  Y8                   227 non-null    int64
 18  Y9                   227 non-null    int64
 19  Y10                  227 non-null    int64
 20  Y11                  227 non-null    int64
 21  Y12                  227 non-null    int64
 22  Y13                  227 non-null    int64
 23  Y14                  227 non-null    int64
dtypes: int64(14), object(10)
memory usage: 42.7+ KB